/*=== MEDIA QUERY ===*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

html {
  background-color: #353b43;
  color: #721414;
}

body {
  background-color: #353b43;
  font-family: 'Amatic SC', cursive;
  color: #737f8a;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  font-family: 'Amatic SC', cursive;
  color: #afbac4;
}
h6 {
  font-weight: 400;
  font-family: 'Amatic SC', cursive;
  color: #afbac4;
}

p {
  font-family: 'Amatic SC', cursive;
}
/* GLOBAL STYLES */
body {
  background: #333;
  padding-top: 5em;
  display: flex;
  justify-content: center;
}

/*=================================================================
  Basic Setup
==================================================================*/
::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: #011216;
}

::selection {
  color: #fff;
  background: #054647;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

a {
  color: #741a1a;
  transition: all 0.3s ease-in 0s;
}

iframe {
  border: 0;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}

a:focus,
a:hover {
  color: #410353;
}

.kill-margin-bottom {
  margin-bottom: 0 !important;
}

.padding-0 {
  padding: 0 !important;
}

.btn {
  background-color: transparent;
  color: #641664;
  padding: 10px 30px;
  border-radius: 0;
  transition: all 0.3s ease-in 0s;
}
.btn:focus {
  color: #ddd;
  box-shadow: none;
}

.btn-transparent {
  border: 1px solid #4e595f;
}
.btn-transparent:hover, .btn-transparent:focus {
  background-color: #3b0642;
  border-color: #5f0404 !important;
  color: #66a810;
}

.form-control {
  background-color: #2f383d;
  border-radius: 0;
  padding: 5px 10px;
  border: 0 none;
  color: #881414;
}

.form-control:focus {
  box-shadow: 0 0 0;
}

.form-control::-webkit-input-placeholder {
  /*  Chrome, Safari, Opera  */
  color: #ddd;
}

.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #ddd;
}

.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #ddd;
}

.form-control:-ms-input-placeholder {
  /*  Internet Explorer  */
  color: #ddd;
}

.border {
  border-top: 2px solid rgba(236, 239, 241, 0.07);
  height: 1px;
  margin: 15px auto 0;
  position: relative;
  width: 30%;
}
.border:before {
  background-color: #fff;
  content: "";
  height: 6px;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  top: -4px;
  width: 50px;
  background-color: #53105c;
}

.color {
  color: #6CB670;
}

.sub-title {
  padding: 0 0 50px;
}

.sub-title > h3 {
  border-left: 3px solid #ddd;
  border-right: 3px solid #ddd;
  display: inline-block;
  padding: 5px 25px;
  text-transform: uppercase;
}

.btn.active:focus,
.btn:active:focus,
.btn:focus {
  outline: 0;
}

.bg-one {
  background-color: #353b43;
}

.bg-dark {
  background: #242930;
}

.parallax-section {
  background-attachment: fixed !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.no-padding {
  padding: 0 !important;
}

.inline-block {
  display: inline-block;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

a {
  transition: all 0.2s ease-in 0s;
}

iframe {
  border: 0;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}

a:focus,
a:hover {
  color: #095052;
}

.btn-main {
  background: #601374;
  color: #fff;
  display: inline-block;
  font-size: 40px;
  letter-spacing: 1px;
  padding: 10px 35px;
  text-transform: uppercase;
}
.btn-main:hover {
  background: #0f682a;
  color: #fff;
}

.mt-20 {
  margin-top: 20px;
}

.section {
  padding: 100px 0;
}
@media (max-width: 480px) {
  .section {
    padding: 50px 0;
  }
}
@media (max-width: 768px) {
  .section {
    padding: 50px 0;
  }
}

.section-sm {
  padding: 70px 0;
}

.section-xs {
  padding: 50px 0;
}

.btn:focus {
  color: #ddd;
}

#home {
  position: relative;
}

.btn.active:focus,
.btn:active:focus,
.btn:focus {
  outline: 0;
}

.parallax-section {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.preloader {
  background: #fff;
  height: 100%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #57cbcc;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    transform: scale3D(1, 1, 1);
  }
  35% {
    transform: scale3D(0, 0, 1);
  }
}
@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    transform: scale3D(1, 1, 1);
  }
  35% {
    transform: scale3D(0, 0, 1);
  }
}
.title {
  padding-bottom: 60px;
}
.title h2 {
  text-transform: capitalize;
  font-weight: 7400;
  font-size: 70px;
  color: #531e99;
}
.title h2 span {
  color: #0b5530;
}
.title p {
  color: #666;
}
.title.title-white h2 {
  color: #fff;
}

.bg-gray {
  background: #f9f9f9;
}

.section-bg {
  background: #292F36;
}

.overly {
  position: relative;
}
.overly:before {
  content: "";
  background: rgba(0, 0, 0, 0.096);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header-bradcrumb {
  background: transparent;
}
.header-bradcrumb a,
.header-bradcrumb .active {
  color: #5a0e0e;
  font-weight: 700;
  font-family: 'Amatic SC', cursive;
}
.header-bradcrumb a:hover {
  color: #09642c;
}

.slick-slide {
  outline: none;
}


/* DEMO-SPECIFIC STYLES
.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation
  border-right: .15em solid orange; /* The typwriter cursor
  white-space: nowrap; /* Keeps the content on a single line
  margin: 0 auto; /* Gives that scrolling effect as the typing happens
  letter-spacing: .15em; /* Adjust as needed
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

//* The typing effect
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
*/
/* The typewriter cursor effect *
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
*/
