@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

html {
  background-color: #353b43;
  color: #721414;
}

body {
  background-color: #000000;
  font-family: 'Amatic SC', cursive;
  color: #737f8a;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

h1 {
  text-align: center;
}
h2 {
  text-transform: capitalize;
  font-weight: 7400;
  font-size: 70px;
  color: #75d684;
}
h3,{
  text-align: center;
  font-weight: 30400;
  font-size: 120px;
  color: #75d684;
}
h4,
h5 {
  font-weight: 700;
  font-family: 'Amatic SC', cursive;
  color: #afbac4;
}
h6 {
  font-weight: 400;
  font-family: 'Amatic SC', cursive;
  color: #afbac4;
}

p {
  font-family: 'Amatic SC', cursive;
}

/*=================================================================
  Basic Setup
==================================================================*/
::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: #011216;
}

::selection {
  color: #fff;
  background: #054647;
}


.bg-one {
  background-color: #353b43;
}

.bg-dark {
  background: #242930;
}

.no-padding {
  padding: 0 !important;
}

.inline-block {
  display: inline-block;
}

#home {
  position: relative;
}

.banner {
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.banner .block {
  text-align: center;
  z-index: 99;
}
.banner .block h1 {
  font-size: 90px;
  color: #156619;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 20px;
}
.banner .block p {
  color: #36bb88;
  font-size: 50px;
  width: 70%;
  margin: 0 auto;
}
.overlay {
  position: relative;
}
.overlay::before {
  content: "";
  background: rgba(0, 0, 0, 0.63);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  left: 0;
}

.soon{
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #6d0303;
  padding: auto;
  text-align: center;

}
.dark-bg {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.street {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;
}

.copyright {
  background-size: cover;
  padding: 20px 0;
  color: #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.copyright img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.copyright p {
  margin-top: 10px;
}